//---fonts---
$main_font: "Inter", sans-serif;
$title_font: "Cardo", serif;

$title_1_size: 64px;
$title_2_size: 42px;
$title_3_size: 32px;
$title_4_size: 24px;

$main_fonts_size: 19px;
$menu_font_size: 17px;

//---colors----
$white_color: #fff;
$black_color: #000;
$yellow_color: #ffca42;
$dark_blue_color: #1b3764;
$light_blue_color: #b4c7e7;
$light_grey_color: #969aa0;
