.author-books {
    @include content_width(1300px);
    margin: 6.4% auto 8% auto;
    h2 {
        text-align: center;
        @include title_style($title_2_size);
        position: relative;
        &::after {
            @include pseudo-line(50px, 3px);
            bottom: -23px;
            left: calc(50% - 25px);
        }
    }
    .books {
        @include base_flex(row, center, space-between);
        margin-top: 7.4%;
        &__item {
            @include base_flex(row, center, space-between);
        }
        .book {
            padding: 0 10px;
            &__cover-img {
                img {
                    box-shadow: 0px 0px 11px #00000033;
                    display: block;
                }
            }
            &__disc {
                @include base_flex(column, flex-start, center);
                margin-top: 10px;
                padding: 0 30px;
            }
            &__name {
                @include title_style($title_3_size);
                line-height: 38.4px;
            }
            &__price {
                color: $yellow_color;
                font-size: 21px;
                line-height: 33px;
                margin-top: 7px;
            }
            &__text {
                margin-top: 17px;
                font-size: 19px;
                line-height: 28.5px;
            }
            &__status {
                @include title_style($title_4_size);
                margin: 13px 0 0 26px;
                line-height: 28.8px;
                position: relative;
                &::before {
                    content: "";
                    @include dot-full(16px);
                    position: absolute;
                    top: calc(50% - 8px);
                    left: -26px;
                }
            }
            .book-disc-btn {
                @include btn_style(transparent, $yellow_color, $dark_blue_color);
                letter-spacing: 0.24px;
                margin-top: 27px;
                line-height: 28.5px;
            }
        }
    }
}
