.promo {
    background-color: $dark_blue_color;
    padding: 70px 0;
    &__wrapper {
        @include content_width(1300px);
        @include base_flex(row, center, space-between);
        color: #fff;
    }
    &__text {
        h2 {
            font-family: $title_font;
            font-size: 45px;
            position: relative;
            &::after {
                @include pseudo-line(50px, 3px);
                bottom: -24px;
                left: 0px;
            }
        }
        p {
            color: $light_blue_color;
            margin-top: 54px;
        }
    }
    &__btn {
        @include btn_style(transparent, $yellow_color, #fff);
        margin-top: 27px;
    }
}
